<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<a 	th:href="@{/board/prefer/{boardNo}/true(boardNo=${board.boardNo})}"
		th:classappend="${(boardPrefer!=null && boardPrefer.prefer)?'active':''}"
		class="rounded-pill btn btn-outline-danger">
		<i class="bi bi-hand-thumbs-up"></i>
		<th:block th:text="${board.likes}"></th:block>
	</a>
	
	<a  th:href="@{/board/prefer/{boardNo}/false(boardNo=${board.boardNo})}"
		th:classappend="${(boardPrefer!=null && !boardPrefer.prefer)?'active':''}"
		class="rounded-pill btn btn-outline-primary"> 
		<i class="bi bi-hand-thumbs-down"></i>
		<th:block th:text="${board.bads}"></th:block>
	</a>

</html>